{% extends "layout.html" %}

{% block title %}
    Advice by Language
{% endblock %}

{% block main %}
    <!-- header from: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_interior_design&stacked=h -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" style="margin-top:80px">
            <h1 class="w3-jumbo"><b>FRESH</b></h1>
            <h1 class="w3-xxxlarge w3-text-red"><b>Advice by Language</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
        </div>
        <div class="w3-section">
            <p><b>Choose a language to see posts:</b></p>
        </div>
        <form action="/languages" method="post">
            <div class="w3-section">
                <select name="language">
                    <option value="English">English</option>
                    <option value="Español">Español</option>
                    <option value="Français">Français</option>
                </select>
            </div>
            <div class="w3-section">
                <button class="btn btn-primary" type="submit">See Posts</button>
            </div>
        </form>
    </div>
{% endblock %}
