{% extends "layout.html" %}

{% block title %}
    Advice in {{ language }}
{% endblock %}

{% block main %}
    <!-- header from: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_interior_design&stacked=h -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" style="margin-top:80px">
            <h1 class="w3-jumbo"><b>FRESH</b></h1>
            <h1 class="w3-xxxlarge w3-text-red"><b>Advice in {{ language }}</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
        </div>
        <div class="w3-container" style="margin-top:75px">
            <table border="2" border-collapse=collapse bordercolor=#EA4033 cellpadding="10" rules=all>
                <thead>
                    <tr bgcolor=#EA4033>
                        <th><font color="white">Author</font></th>
                        <th><font color="white">Time Posted</font></th>
                        <th><font color="white">Category</font></th>
                        <th><font color="white">Title</font></th>
                        <th><font color="white">Advice</font></th>
                    </tr>
                </thead>
                <tbody>
                    {% for languagepost in languageposts %}
                        <tr align=center>
                            <td>
                                {% for nickname in nicknames %}
                                    {% if nickname["id"] == languagepost.user_id %}
                                        {{ nickname["nickname"] }}
                                    {% endif %}
                                {% endfor %}</td>
                            <td>{{ languagepost.timestamp }}</td>
                            <td>{{ category_ids[languagepost.category_id]["category_name"] }}</td>
                            <td>{{ languagepost.title }}</td>
                            <td>{{ languagepost.advice }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
