{% extends "layout.html" %}

{% block title %}
    Advice from {{ nickname }}
{% endblock %}

{% block main %}
    <!-- header from: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_interior_design&stacked=h -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" style="margin-top:80px">
            <h1 class="w3-jumbo"><b>FRESH</b></h1>
            <h1 class="w3-xxxlarge w3-text-red"><b>Advice from {{ nickname }}</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
        </div>
        <div class="w3-container" style="margin-top:75px">
            <table border="2" border-collapse=collapse bordercolor=#EA4033 cellpadding="10" rules=all>
                <thead>
                    <tr bgcolor=#EA4033>
                        <th><font color="white">Time Posted</font></th>
                        <th><font color="white">Language</font></th>
                        <th><font color="white">Category</font></th>
                        <th><font color="white">Title</font></th>
                        <th><font color="white">Advice</font></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pafpost in pafposts %}
                        <tr align=center>
                            <td>{{ pafpost.timestamp }}</td>
                            <td>{{ language_ids[pafpost.language_id]["language_name"] }}</td>
                            <td>{{ category_ids[pafpost.category_id]["category_name"] }}</td>
                            <td>{{ pafpost.title }}</td>
                            <td>{{ pafpost.advice }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
