{% extends "layout.html" %}

{% block title %}
    Post
{% endblock %}

{% block main %}
    <form action="/post" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title" type="text"/>
        </div>
        <div class="form-group">
            <select name="language">
              <option value="English">English</option>
              <option value="French">French</option>
              <option value="Spanish">Spanish</option>
            </select>
        </div>
        <div class="form-group">
            <select name="category">
              <option value="Academics">Academics</option>
              <option value="Athletics">Athletics</option>
              <option value="Budgeting">Budgeting</option>
              <option value="Extracurricular">Extracurricular</option>
              <option value="Social">Social</option>
              <option value="Wellness">Wellness</option>
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="advice" placeholder="Advice" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Post</button>
    </form>
{% endblock %}
