{% extends "layout.html" %}

{% block title %}
    Uh Oh!
{% endblock %}

{% block main %}
    <!-- header from: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_interior_design&stacked=h -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        <div class="w3-container" style="margin-top:80px">
            <h1 class="w3-jumbo"><b>FRESH</b></h1>
            <h1 class="w3-xxxlarge w3-text-red"><b>Uh Oh!</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
        </div>
        <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=http://i66.tinypic.com/mjy6gl.jpg"/>
    </div>
{% endblock %}
